__pycache__/
venv/
.mypy_cache/
.pytest_cache/
htmlcov/
.coverage
ankidata/
build/
src/manifest.json
src/meta.json
src/forms/
src/user_files/*/
src/user_files/config.json
vendor/
node_modules/
TODO.md
